.App {
  background: #010101;
  padding: 40px 0px;
  /*spacing so name appears on bottom face*/
  padding-top: 73vh;
}

.section {
  margin-top: 100px;
}

.section hr{
  margin: 0;
}

.section h2{
  margin: 0;
}

.section h3{
  margin-top: 10px;
}

.section p{
  margin-top: 10px;
}

.footer {
  margin-top: 100px;
}

.social-links {
  display: flex;
  gap: 20px;
}

.intro-list p {
  margin: 2px 0;
}
